body {
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form button {
  margin-right: 10px;
}
.toast-top-right {
  margin-top: 50px;
}
.mid-page {
  margin: 0 auto;
  max-width: 500px;
}
.mid-login {
  margin: 0 auto;
  max-width: 410px;
}
.label-login {
  margin-top: 5px;
}
.invalid-pass {
  color: #f00;
}
footer {
  padding-left: 100px;
  padding-right: 100px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.image-container img {
  width: 100%;
}
.song-li {
  color: #f00;
}
.song-li:hover {
  text-decoration: underline;
  color: #a30000;
  cursor: pointer;
}
input.ng-dirty.ng-invalid {
  border: 1px solid #f00;
}
input.ng-dirty.ng-valid {
  border: 1px solid #008000;
}
.new-playlist:hover {
  background-color: #c1c1c1;
}
.new-playlist:hover img {
  cursor: pointer;
}
.login-input {
  max-width: 250px;
}
