doctype
html
    head
        title Listen to music
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/modal-css.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser