.container
    .jumbotron
        .row
            .col-md-12
                h3 What is 
                    strong Listen to Music
                    | ?
                p Listen to Music App provides you easy interface to listen music from youtube. There you can create your own playlists, vote for best playlist, and even if you dont have an account you can 
                    a(href="#/repeat-video") repeat 
                    | every video from youtube. 
                    a(href="#/signup") Sign Up 
                    | now for better experience.
                p
                    small Still beta version.