.container
    .well
        .row
            .col-md-6
                h1 Welcome to 
                    strong Listen to Music.
            .col-md-6(style="margin-top:10px;")
                h3 Discover, create, enjoy.
        .row
            .col-md-6
                img(style="max-height:400px" src="http://cdn.alltheragefaces.com/img/faces/svg/neutral-feel-like-a-sir.svg")
            .col-md-6
                h3 The 
                    strong hottest 
                    | playlist!
                .row(style="margin-top:10px")
                    .col-md-12
                        .well(style="min-height:360px")
                            .row
                                .col-md-12
                                    .row
                                        .col-md-4
                                            h3
                                                a(href="#/playlists/{{playlist._id}}")
                                                        strong {{ playlist.title | uppercase }}
                                            .row
                                                .col-md-12(style="margin-bottom:5px")
                                                    span.label.label-info(style="padding-left:5px;")
                                                        | rate:
                                                    strong(style="padding-left:5px;margin-top-2px;") {{playlist.rate}}
                                            .row
                                                .col-md-4
                                                    button.label.label-danger(ng-click='Upvote(playlist)') Up
                                                .col-md-6
                                                    button.label.label-danger.pull-left(ng-click='DownVote(playlist)' style="margin-top:2px") Down
                                        .col-md-8.image-container
                                            a(href="#/playlists/{{playlist._id}}")
                                                img(src="" ng-src="{{playlist.cover}}")
                                    .row(style="margin-top:5px")
                                        .col-md-12
                                            ul.list-group
                                                li.list-group-item(ng-repeat="video in playlist.videos | limitTo: 3")
                                                    a.song-li(href="#/playlists/{{playlist._id}}/{{video.id}}") {{video.title}}
                                                li.list-group-item(ng-show="playlist.video.length > 3") ...
                                    .row
                                        .col-md-8
                                            div by user: {{playlist.username}}
                                        .col-md-4
                                            a.btn.btn-primary.btn-xs.pull-right(href="#/playlists/{{playlist._id}}") Listen Now
            
    .row
        .col-md-12
            .h2 
                strong Most Popular Playlists
            .jumbotron
                div(ng-include="'partials/main/most-popular'")
    .row
        .col-md-12
            .h2
                strong Latest Created/Modified
            .jumbotron
                div(ng-include="'partials/main/latest-playlists'")